.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  flex-grow: 0;
  padding: 15px;
}

.logo {
  font-size: 15px;
  float: right;
  vertical-align: middle;
}

.header-block-right {
  flex-grow: 1;
}

.header-link {
  float: right;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-weight: 700;
}

.header-link3 {
  color: Blue 10%;
  padding-right: 20px;
  padding-left: 20px;
  background-repeat: 5px;
  background-color: #0085FF;
  border-radius: 5px;
}


.content {
  display: flex;
  background-color: white;
  flex-grow: 1;
  padding: 15px;
}

.card1-content {
  display: flex;
  flex-grow: 0.66;
  flex-direction: column;
  margin-right: 15px;
  background-color: beige;
}

.card2-content {
  display: block;
  flex-grow: 0.34;
  background-color: #282c34;
  border-radius: 20px;
  overflow-wrap: break-word;
  padding-top: 200px;
  box-sizing: border-box;
  
}

.tis-container {
  background-image: url(https://c1.wallpaperflare.com/preview/786/770/481/man-woman-people-couple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  min-height: 400px;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}

.tis-paragraph {
  font-size: 64px;
  font-weight: 700;
  max-width: 600px;
}

.tis-items-container {
  display: flex;
}

.tis-item {
  flex-grow: 1;
  font-size: 16px;
}

.card2-item  {
  width: auto;
}

.ad-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.ad-item-container {
  background-color: transparent;
  border: 1px solid blue;
  flex-grow: 1;
}

.ad-item2-container {
  margin-left: 10px;
}

.ad-item-title {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.ad-item-paragraph {
  font-size: 16px;
}


.card2-title {
  font-size: 36px;
  font-weight: 700;
  
}

.card2-paragraph {
  max-width: 300px;
  font-size: 16px;
  line-height: 20px;
}

.card2-button {
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
}



.footer {
  height: 100px;
  background-color: black;
  color: white;
  flex-grow: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
