.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  flex-grow: 0;
  padding: 15px;
}

.logo {
  font-size: 15px;
  float: right;
  vertical-align: middle;
}

.header-block-right {
  flex-grow: 1;
}

.header-link {
  float: right;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-weight: 700;
  margin-left: 10px;
  font-size: 16px;
}

.header-link3 {
  color: Blue 10%;
  padding-right: 20px;
  padding-left: 20px;
  background-repeat: 5px;
  background-color: rgba(0, 133, 255, 0.1);
  border-radius: 5px;
}


.content {
  display: flex;
  background-color: white;
  flex-grow: 1;
  padding: 15px;
}

.card1-content {
  display: flex;
  flex-grow: 0.66;
  flex-direction: column;
  margin-right: 15px;
  
}

.card2-content {
  display: block;
  flex-grow: 0.34;
  background-color: rgba(36, 103, 196, 0.1);
  border-radius: 20px;
  overflow-wrap: break-word;
  padding-top: 200px;
  box-sizing: border-box;
  
}

.tis-container {
  background-image: url(https://c1.wallpaperflare.com/preview/786/770/481/man-woman-people-couple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  min-height: 400px;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}

.tis-paragraph {
  font-size: 64px;
  font-weight: 700;
  max-width: 600px;
}

.tis-items-container {
  display: flex;
  max-width: 500px;
  margin-left: 50px;
}

.tis-item {
  flex-grow: 1;
  font-size: 16px;
}

.card2-item  {
  width: auto;
}

.ad-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.ad-item-container {
  background-color: transparent;
  border: 1px solid blue;
  flex-grow: 1;
}

.ad-item2-container {
  margin-left: 10px;
}

.ad-item-title {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.ad-item-paragraph {
  font-size: 16px;
}


.card2-title {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.card2-paragraph {
  max-width: 270px;
  font-size: 16px;
  text-align: center;
  padding-left: 50px;
  line-height: 20px;
}

.card2-button {
  width: 300px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  border-radius: 7px;
  background-color: rgba(0, 95, 205, 1);
}

.card2-input {
  width: 280px;
  padding: 10px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}

.ad-icon {
  font-size: 15px;
  color: rgba(0, 133, 255, 1);
  background-color: rgba(0, 133, 255, 0.25);
  padding: 5px;
  border-radius: 3px;
  float: left;
  margin-left: 35px;
}

.footer {
  height: 100px;
  background-color: black;
  color: white;
  flex-grow: 0;
  padding: 15px;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
